*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
 }

.titulo{
    margin-top: 100px;
    text-align: left;
}

.bg-morado{
    background-color: hsl(300, 43%, 22%);
}

.bg-gris{
    background-color: hsl(300, 24%, 96%);
}

.borde{
    border-radius: .6rem;
}

h1{
    font-weight: 700;
    font-family: 'Spartan', sans-serif;
    color: hsl(300, 43%, 22%);
    font-size: 50px;
}

h2{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Spartan', sans-serif;;
    color: hsl(303, 10%, 53%);
}

h3{
    font-size: 15px;
    font-weight: 700;
    font-family: 'Spartan', sans-serif;
    color: hsl(300, 43%, 22%);
}

h5{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Spartan', sans-serif;
    color: hsl(333, 80%, 67%);
}

h6{
    font-size: 15px;
    font-weight: 700;
    font-family: 'Spartan', sans-serif;
    color: white;
}

p{
    font-size: 12.5px;
    font-weight: 400;
    font-family: 'Spartan', sans-serif;
    color: white;
}



.reputacion{
    margin-top: 100px;
}
    
.reputacion1{
    margin-right: 50px;
}
    
.reputacion2{
    margin-left: 15px;
    margin-right: 25px;
}
    
.reputacion3{
    margin-left: 30px;
}

.nombre{
    font-size: 11px;
    text-align: center;
}

.nombre-{
    color: hsl(228, 45%, 44%);
}

footer{
    margin-top: 130px;
    margin-bottom: 40px;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

